%header
  .image-bg-fluid-height2
    .intro2
      %h1.p-banner-about Volunteer Online with the <br>United Nations
      %p.p-banner2 Find placements at the top tech companies <br>in the world
      %hr
      .banner-images
        = link_to "#", :class => "LinkBanner" do
          .tryitBtn
            Try It
        = link_to "#", :class => "LinkBanner" do
          .tryitBtn2
        = link_to "#", :class => "LinkBanner" do
          .tryitBtn3
        -# = link_to image_tag("group-6.png", class: ""), "https://gotryit.org", :target => "_blank"
        -# = link_to image_tag("group-2.png", class: "img-responsive"), "http://www.facebook.com/sharer.php?u=URL", :target => "_blank"
        -# = image_tag "group-2.png", :class => ""
        -# = image_tag "group.png", :class => ""
.container
  .row.main
    .col-xs-2.col-sm-3.col-md-2.col-lg-2.col-xs-offset-0.left.desktop
      #close{:data => { :spy => 'affix'}}
        %hr.left-hr
          %ul.ul-left1
            %li Home
            %li
              = link_to 'Collections', '/collections/'
            %li Community
    .col-xs-9.col-sm-8.col-md-9.col-lg-9.desktop
      = render 'aboutPartial'
    .col-xs-12.middleAbout.mobile
      .about-divMobile
        .mid-top1
          %h4.font-w-200 About
        .mid-second1
          .hidden-xs.col-sm-4
            = image_tag("bitmap@3x2.png", class: "img-partner2")
            = link_to "https://gotryit.org", :class => "LinkBanner" do
              .tryitBtn4
                Learn More
          .col-xs-12.col-sm-8.colAbout
            %p.p1
              Be an online activist for the U.N. Volunteer for international development organizations all over the world–from home!<br><br> The United Nations supports organizations working for peace and development by connecting them with online volunteers.
              <br><br>
              etc. etc. etc.
              <br><br>
            %p.p2
              Be an online activist for the U.N. Volunteer for international development organizations all over the world–from home!
              <br><br>
              The United Nations supports organizations working for peace and development by connecting them with online volunteers.
              <br><br>
              etc. etc. etc.
      .experi-div
        .mid-top2
          %h4.font-w-200 Suggested
        .mid-second
          %ul.list-middleAbout
            = render :partial => '/experiences/experience', :collection => Experience.all
