<nav class="navbar navbar-default">
  <div class="container-fluid nav">
    <div class="navbar-header">
      <%= image_tag("260446-200.png", class: "img-icon1 mobile") %>
      <%= link_to "Login", "#", class:"login mobile" %>

      <li class="dropdown mobile">
        <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           <%= image_tag("try_it.png", class: "img-tryit") %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Online</a></li>
          <li class="divider"></li>
          <li><a href="#">In-person</a></li>
          <li><a href="#">Collections</a></li>
        </ul>
      </li>
      <%= link_to image_tag("try_it.png", class: "img-tryit"), "https://gotryit.org", :target => "_blank", class: "desktop" %>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <span class="icon-search"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control ser" placeholder="Discover the best STEM experiences daily">
        </div>
      </form>
    </div>

      <ul class="nav navbar-nav navbar-right desktop">
        <%= image_tag("260446-200@2x.png", class: "img-icon") %>
        <%= link_to "Login", "#", class:"login-1" %>
      </ul>
  </div><!-- /.container-fluid -->

</nav>
